$button-padding: $spacer-y/2 $spacer-x * 1.5;

.btn {
  font-size: inherit;
  line-height: inherit;;
  background: transparent;
  border: none;
  display: inline-block;
  outline: none;
  -webkit-appearance: none;
  padding: $button-padding;
  text-decoration: none;
  @extend %bold;
  position: relative;
  line-height: 1.5rem;
  &:hover {
    color: $body-color;
    text-decoration: none;
  }
}

.btn.btn-brackets,
.btn.btn-bracketed,
.btn.btn-bracket,
.btn.brackets,
.btn.bracketed,
.btn.bracket {
  &:before {
    margin-right: $spacer-x;
    font-size: 2rem;
    line-height: $spacer-y * 2.6;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }
  &:after{
    content:"]";
    margin-left: $spacer-x;
    font-size: 2rem;
    line-height: $spacer-y * 2.6;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
  &:before{
    content:"["
  }
}

.topics {
  & > a {
    font-family: $font-family-monospace;
    font-weight: normal;
    &.btn.btn-lg {
      font-size: $font-size-lg;
      padding: $spacer-y * .75 $spacer-x $spacer-y * .8 $spacer-x;
    }
    &.btn.btn-md {
      font-size: $font-size-md;
      padding: $spacer-y * 0.5 $spacer-x $spacer-y * 0.55 $spacer-x;
    }
    &:hover {
      border: $border-width solid $body-color;
    }
  }
}

.dotted {
    border: $border-width dotted $body-color;
}
