$nav-menu-line-height: 2rem;
$nav-menu-font-size: 1.5rem;

#header {
  line-height: $nav-menu-line-height;
  font-size: $nav-menu-font-size;
  & > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: $spacer-y*2 $spacer-x*2;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  li {
    padding-left: $spacer-x;
    display: flex;
  }
  a {
    display: flex;
  }
  span {
    margin-right: $spacer-x / 2;
    height: $nav-menu-line-height;
    width: $nav-menu-line-height;
    display: inline-block;
    border-radius: $nav-menu-line-height/2;
    border: 1px dotted $body-color;
  }
}
