#header {
  line-height: $nav-menu-line-height;
  font-size: $nav-menu-font-size;
  & > div {
    display: flex;
    width: 100%;
    vertical-align: center;
    justify-content: space-between;
    padding: $spacer-y*2 $spacer-x*2;
  }
  @include dot-menu();
}
