%bold {
  font-family: $font-family-sans-serif-bold;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin dot-menu {
  list-style-type: none;
  margin: 0;
  padding: $spacer-y 0;
  display: flex;
  li {
    padding-left: $spacer-x;
    display: inline-flex;
    &:first-of-type {
      padding-left: 0;
    }
  }
  a {
    display: flex;
    line-height: $dot-menu-line-height;
    @extend %bold;
    span {
      margin-right: $spacer-x / 2;
      height: $dot-menu-line-height;
      width: $dot-menu-line-height;
      display: inline-block;
      border-radius: $dot-menu-line-height/2;
      border: 1px dotted $body-color;
      // border: 2px solid yellow;
      // border-image-source: url(udf-list-border.svg);
      // border-image-slice: 20 22;
      // border-image-repeat: round;
    }
  &:hover {
    border-bottom: none;
    span {
      background-color: $body-color;
    }
  }
  &.active {
    span {
      background-color: $body-color;
    }
  }
  }

}
