// Core variables and mixins
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

@import "udf-variables";

// Reset and dependencies
@import "./node_modules/bootstrap/scss/normalize";
@import "./node_modules/bootstrap/scss/print";

// Core CSS
@import "./node_modules/bootstrap/scss/reboot";
@import "./node_modules/bootstrap/scss/type";
@import "./node_modules/bootstrap/scss/images";
@import "./node_modules/bootstrap/scss/grid";
@import "./node_modules/bootstrap/scss/forms";
@import "./node_modules/bootstrap/scss/custom-forms";

// Utility classes
@import "./node_modules/bootstrap/scss/utilities";
@import "./node_modules/bootstrap/scss/utilities-background";
@import "./node_modules/bootstrap/scss/utilities-spacing";
@import "./node_modules/bootstrap/scss/utilities-responsive";

@import "./mixins";
@import "./helpers";
@import "./header";
@import "./programs";
@import "./buttons";

html {-webkit-font-smoothing: antialiased;}

body {margin: 0; padding: 0;}

strong,b {font-family: $font-family-sans-serif-bold; font-weight: normal; font-style: normal; font-stretch: normal;}

//Typographic Styles

// Headings

h4, h5, h6,
.h4, .h5, .h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $sm-headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  -webkit-font-smoothing: antialiased;
}

.post-listing, .news-listing, .sponsor-listing, .partner-listing {
  .title {
    @extend %bold;
    line-height: 1.2;
  }
  .label-date {
    font-family: $font-family-monospace;
    padding: .075rem .325rem;
    border: 1px solid;
    display: inline-block;
  }
  .label-upcoming {
    background-color: #000;
    color: #fff;
  }
  .label-program {
    font-family: $font-family-monospace;
  }
  .excerpt {
    text-align: left;
  }
}

.triangle-right {
  font-size: 24px;
  display: inline-block;
  margin: 0 0.5rem;
}

.light {
  opacity: 0.2;
}

// Paragraph Styling
.main-lead {
  font-size: $font-size-lg;
}
// Programs Styles
.program-sections {
  background-color: $body-bg;
}

.current-program-info {
  background-color: $gray-lightest;
  min-height: 32vh;
  max-height: 48vh;
}
.current-sub-program-info {
  background-color: $body-bg;
  min-height: 32vh;
  max-height: 48vh;
}

.programs-wrapper {
  .programs-featured-posts {
    background-color: $body-bg;
  }
  .program-posts {
    background-color: $body-bg;
  }
}

// Links
a {
  &:hover {
    border-bottom: solid 1px;
    cursor: pointer;
  }
  &.link-more {
    @extend %bold;
  }
}

//Form Add-ons
form {
  label {
    font-family: $font-family-monospace;
    font-size: $font-size-sm;
  }
}
.form-control {
  font-size: $font-size-xl;
  border-top: none;
  input {
    font-family: $font-family-sans-serif;
    font-size: $font-size-xl;
  }
  &:focus {
    &::placeholder {
      color: #000;
    }
  }
  .radio {
    label {
      font-family: $font-family-sans-serif;
      font-size: $font-size-xl;
    }
  }
}
