doctype html
html
  head
    meta(charset="utf-8")
    title Urban Design Forum — Style Guide
    link(href="//webfonts.radimpesko.com/RP-W-5788b19c80f5d76cdf00000b.css" rel="stylesheet" type="text/css")
    link(href="css/styles.css" rel="stylesheet" type="text/css")
    style.
      .row {
        margin-bottom: 3rem;
        padding-top: 1rem;
        border-top: dotted 1px blue;
        }
        code {
          color: blue;
          font-size: 12px;
        }

  body
    include ../parts/headers

    block main

    include ../parts/footers
