.row
  .col-sm-9
    h1
      strong New Ideas for Cycling and Pedestrian Projects
  .col-sm-3
    code h1, .h1

.row
  .col-sm-9
    h2
      strong New Ideas for Cycling and Pedestrian Projects
  .col-sm-3
    code h2, .h2

.row
  .col-sm-9
    h3
      strong New Ideas for Cycling and Pedestrian Projects
  .col-sm-3
    code h3, .h3

.row
  .col-sm-9
    h4
      strong New Ideas for Cycling and Pedestrian Projects
  .col-sm-3
    code h4, .h4
