header#header
  .container
    div
      a(href='/')
        h2
          strong Urban Design Forum
      nav
        ul(role='nav')
          li
            a(href='#about')
              span
              | About
          li
            a(href='#fellows')
              span
              | Fellows
          li
            a(href='#programs')
              span
              | Programs
          li
            a(href='#news')
              span
              | News
          li
            a(href='#join')
              span
              | Join
