//- .col-xs-12.col-md-6.col-lg-4.post-listing.text-xs-center.m-b-2
//-   if eventpost.images !== false
//-     img(src=eventpost.images.medium.url, class='image-fluid')
//-   else
//-     .placeholder
//-   h6.label-date.label-upcoming.m-t-2= eventpost.start
//-   h3.title
//-     a(class='link-title', href=eventpost.permalink)= eventpost.title
//-   h6.label-program= eventpost.typeTitle
//-     span.triangle-right &#9655;
//-     a(href='program/permalink') Program
//-
//-   div.excerpt.m-t-2!= eventpost.excerpt
